@use 'libs/bootstrap-reboot.min';
@use 'base/fonts';
@use 'base/mixins';
@use 'base/main';
@use 'base/icons';
@use 'blocks/header';
@use 'blocks/promo';
@use 'blocks/buttons';
@use 'blocks/programs';
@use 'blocks/trainers';
@use 'blocks/passes';
@use 'blocks/info';
@use 'blocks/footer';
@use 'blocks/media';


// @import 'blocks/titles';


