@import 'libs/bootstrap-reboot.min';
@import 'base/fonts';
@import 'base/mixins';

* {
    font-family: 'KyivTypeSans', sans-serif;
    margin: 0;
    padding: 0;
    
}
:root {
    --black: #111517;
    --accent: #1F6C94;
    --dark-green: #253A45;
    --dark-grey: #5C686D;
    --light: #E7ECEF;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
section {
    position: relative;
}
.divider {
    position: relative;
    display: flex;
    width: 46px;
    height: 15px;
    justify-content: space-between;
    align-items: center;
    margin: -8px auto 0 auto;
    .left,.right {
        width: 12px;
        height: 5px;
        background-color: var(--accent);
        border-radius: 2px;
    }
    .center {
        width: 10px;
        height: 10px;
        background-color: var(--accent);
        transform: rotate(45deg) ;
    }
    z-index: 9999;
}

// @import 'blocks/titles';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/programs';
@import 'blocks/trainers';
@import 'blocks/media';

