.footer {
    min-height: 120px;
    background-color: var(--accent);
    &__wrapper {
        display: grid;
        padding: 50px 0;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        a {
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            &:hover {
                text-decoration: none;
            }
        }
        .copyright {
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            align-content: center;
        }
    }
    
}