.info {
    margin-top: -8px;
    padding-bottom: 50px;
    background-color: var(--light);
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        column-gap: 50px;
        justify-content: space-between;
        h2 {
            line-height: 48px;
        }
    }
    &__times, &__addres {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        h2 {
            margin-top: 120px;
            margin-bottom: 36px;
        }
    }
    &__times {
        &-clock {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
        }
    }
    &__img {
        width: 360px;
        &-tree {
            width: 100%;
        }
        &-photo {
            width: 100%;
            margin-top: -255px;
        }
    }
    &__map {
        display: flex;
        align-items: center;
        margin-top: 65px;
        .icon {
            width: 44px;
            height: 44px;
            margin-right: 7px;
        }
    }
    &__addres {
        a {
            color: var(--black);
            text-decoration-line: underline;
            font-size: 20px;
            font-weight: 200;
        }
    }
    .social {
        margin-top: 65px;
    }
}