@media (max-width: 1500px) {
    .container {
        width: calc(100% - 120px);
    }

    .promo {
        &__main {
            position: unset;
        }

        &__images {
            right: 0;
        }
    }

    .programs {
        &__items {
            grid-template-columns: repeat(2, minmax(280px, 380px));
            justify-content: space-around;
            gap: 80px;
        }

        &__item {
            max-width: unset;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        padding-top: 60px;

        &__main {
            padding-top: 0;
        }

        &__wrapper {
            height: 720px;
        }

        &__images {
            &_wrapper {
                transform: scale(.95) translate(2%, 2%);
            }
        }
    }

    .social {
        margin-bottom: 16px;
    }

    .programs {
        padding: 80px 0;
    }

    .trainers {
        &__rhombus {
            width: 352.16px;
            height: 479.81px;
        }

        &__carousel {
            padding: 60px 0;

            &-imgback {
                width: 493.83px;
                height: 303.39px;
                left: -100px;
            }

            &-imgtop {
                left: 64px;
                top: 58px;
            }

            h2 {
                padding-top: 0;
            }
        }
    }
    .passes {
        &__item-box {
            transform: rotate(45deg) translate(40%, 40%);
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__logo {
            margin: 0 auto;
        }

        &__phone {
            order: 2;
            margin: 0 auto;
        }

        &__nav {
            order: 3;
            margin: 0 auto;
            height: 45px;
        }
    }

    .promo {
        &__main {
            padding-top: 0;
        }

        &__title {
            font-size: 54px;
            text-align: center;

            div {
                display: inline-block;
                margin: 0 auto;

                &:before {
                    left: 22px;
                }
            }
        }
    }

    .trainers {
        &__rhombus {
            width: 263.69px;
            height: 359.28px;
        }

        &__carousel {
            &-imgback {
                width: 339.78px;
                height: 197.17px;
                left: -60px;
            }

            &-imgcentral {
                top: 0;
                left: 0;
            }

            &-imgtop {
                top: 25px;
                left: 50px;
            }

            &-text {
                font-size: 16px;
            }

            &-img {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .hamburger {
        position: absolute;
        width: 24px;
        height: 24px;
        z-index: 999;
        transform: translateY(50%);
        left: 60px;
        overflow: hidden;

        span {
            display: block;
            width: 100%;
            height: 2px;
            margin-bottom: 5px;
            background-color: #fff;
            transition: .8s all;
        }

        &_active {
            span {
                &:nth-child(1) {
                    transform: translateY(7px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateX(-100%);
                }

                &:nth-child(3) {
                    transform: translateY(-7px) rotate(-45deg);
                }
            }
        }
    }

    .header {
        .container {
            width: 100%;
            margin: 0;
        }

        &__logo {
            margin-left: 60px;
            padding: 0;
        }

        &__phone {
            border: none;
            height: 100%;
            width: 212px;
            padding: 0;
            margin-right: 60px;

            a {
                display: block;
                position: relative;

                img {
                    position: absolute;
                    left: 35px;
                    top: 3px;
                }
            }

            &-text {
                font-size: 16px;
            }
        }

        &__nav {
            background-color: var(--dark-grey);
            height: 40px;
            width: 100%;

            // display: none;
            ul {
                position: absolute;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: var(--dark-grey);
                width: 60%;
                right: -100%;
                height: 100vh;
                padding: 40px;
                z-index: 995;
                opacity: .8;
                transition: .8s all;
                display: none; // !!!!!!!!!!!!!!!

                &>li>a {
                    color: #fff;
                }
            }

            &-active {
                ul {
                    right: 0;
                }
            }
        }

        &__link {
            width: 100%;
            text-align: center;

            &-active {
                a {
                    &:hover {
                        color: #fff;
                    }

                    &:before {
                        // content: none;
                        background-color: #fff;
                        bottom: -16px;
                    }
                }
            }
        }
    }

    .promo {
        height: 700px;

        .container {
            width: calc(100% - 120px);
        }

        &__title {
            font-size: 36px;

            div:before {
                height: 14px;
                width: 14px;
                left: 15px;
            }
        }

        &__descr {
            width: 100%;
            height: 160px;
        }

        &__wrapper {
            height: 700px;
        }

        &__images {
            height: 700px;

            &_wrapper {
                transform: scale(.7) translate(21%, 0);
            }
        }
    }

    .btn {
        display: none;
    }

    .programs {
        &__carousel {
            overflow: hidden;
        }

        &__items {
            grid-template-columns: repeat(5, 380px);
            gap: 16px;
            width: 260%;
        }

        &__dots {
            display: flex;
        }
    }

    .trainers {
        &__carousel {
            grid-template-columns: 2fr 1fr;
            &-img {
                // margin: 0 auto;
                width: 320px;
                height: 400px;
                grid-row: 2;
                grid-column: 1 / 3;
                justify-self: center;
            }
            h2 {
                grid-row: 1;
                grid-column: 1;
            }
            &-name {
                grid-row: 3;
                grid-column: 1 / 3;
            }
            &-rank {
                grid-row: 4;
                grid-column: 1 / 3;
            }
            &-text {
                grid-row: 5;
                grid-column: 1 / 3;
            }
        }
        &__arrows {
            grid-row: 1;
            grid-column: 2;
            padding: 0;
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__wrapper {
            gap: 15px;
        }

        &__logo {
            margin-left: 57px;
            font-size: 20px;
            font-weight: 400;
        }

        &__phone {
            margin-right: 57px;
            width: auto;

            &-text {
                font-size: 10px;
                font-weight: 500;
                line-height: 12px;
            }

            a img {
                left: 8px;
                top: -1px;
                max-width: 15px;
                max-height: 15px;
            }
        }

        .hamburger {
            left: 57px;
        }
    }

    .promo {
        padding-top: 30px;
        min-height: 702px;

        .container {
            width: calc(100% - 114px);
        }

        &__title {
            &-active-h1 {
                display: none;
            }

            &-active-div {
                display: block;
                text-align: left;
                line-height: 43px;

                div:before {
                    top: -1px;
                }
            }
        }

        &__descr {
            margin-top: 16px;
            font-size: 16px;
            font-weight: 350;
            line-height: 19px;
        }

        &__wrapper {
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            height: 410px;
        }

        &__images {
            width: 100%;

            &_wrapper {
                transform: scale(.48) translate(60%, 11%);
            }
        }

        &__visitors {
            align-self: unset;
            grid-column: 1;
            grid-row: 4;
            grid-template-columns: auto;
            justify-items: center;
            margin-bottom: 16px;
            order: 1;

            &-img {
                margin-left: 24px;
            }
        }

        .social {
            width: 72px;
            margin-bottom: 16px;
            order: 0;

            a {
                min-width: auto;
                min-height: auto;

                div {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
    .trainers {
        &__carousel {
            h2 {
                font-size: 24px;
            }
            &-img {
                margin-top: 20px;
            }
            &-name {
                padding: 0;
            }
            &-rank {
                padding: 0;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 392px) {
    .header {
        &__logo {
            margin-left: 46px;
        }

        &__phone {
            margin-right: 46px;
        }

        .hamburger {
            left: 46px;
        }
    }

    .promo {
        .container {
            width: calc(100% - 92px);
        }

        &__title {
            font-size: 28px;
            line-height: 36px;

            div:before {
                height: 12px;
                width: 12px;
                left: 12px;
            }
        }
    }

    .programs__items {
        grid-template-columns: repeat(4, 260px);
    }

    .trainers {
        &__carousel {
            grid-template-columns: 1fr;
            &-img {
                grid-row: 3;
                transform: translateX(10%);
                width: 238px;
            }
            &-name {
                grid-row: 4;
            }
            &-rank {
                padding-top: 10px;
                grid-row: 5;
                line-height: normal;
            }
            .divider {
                padding-top: 30px;
                display: flex;
                grid-row: 6;
            }
            &-text {
                padding-top: 20px;
                grid-row: 7;
            }
        }
        &__arrows {
            padding-top: 20px;
            grid-row: 2;
            grid-column: 1;
            justify-self: center;
        }

    }
}