.passes {
    display: block;
    height: 830px;
    padding: 106px 0 134px 0;
    &__subtitle {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        color: var(--paragraph);
    }
    &__items {
        margin-top: 112px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 26px;
        width: 360px;
        height: 318px;
        background-color: var(--light);
        color: var(--accent);
        border-radius: 10px;
        &-center {
            background-color: var(--accent);
            color: var(--light);
            // transform: rotate(-45deg) translate(-5px, -7px);
            transform: rotate(-45deg) translate(-13px, -22px);

            .passes__btn  {
                background-color: var(--light);
                color: var(--accent);
            }
        }
        &-box {
                width: 300px;
                height: 300px;
                background-color: var(--light);
                transform: rotate(45deg) translate(-14px, -14px);
                box-shadow: 0px 0px 10px 0px rgba(31, 108, 148, 1);
        }
        // &:nth-child(2) {
        //     background: none;
        // }
    }
    &__cost {
        font-size: 58px;
        font-weight: 550;
    }
    &__descr {
        // margin-top: 60px;
        font-size: 15px;
        font-weight: 400;
        line-height: 19.52px;
    }
}