.promo {
    background-color: var(--light);
    height: 1030px;
    padding-top: 34px;
    position: relative;
    .container {
        height: 100%;
        position: relative;
    }
    &__header {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-fixed {
            top: 0;
            position: fixed;
            justify-content: space-around;
            border-radius: 20px;
            width: 1280px;
            z-index: 100;
            background-color: rgba(#000, 0.2);
            .promo__logo, .promo__link>a {
                color: #fff;
            }
            .promo__link-active>a:before {
                background-color: #fff;
            }
            .promo__phone {
                display: none;
            }
        }
    }
    &__logo {
        color: var(--black);
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        &:hover {
            text-decoration: none;
        }
    }
    &__nav {
        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            width: 623px;
            list-style-type: none;
            font-size: 24px;
            line-height: 29px;
        }
    }
    &__link {
        a {
            color: var(--black);
            text-decoration: none;
            &:hover {
                color: var(--accent);
            }
        }
        &-active {
            a {
                position: relative;
                color: var(--accent);
                font-weight: 700;
                @include rhombus;
            }
        }
    }
    &__phone{
        padding: 0 24px;
        width: 260px;
        height: 100%;
        border: 1px solid var(--accent);
        border-radius: 20px;
        // align-content: center;
        a {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            img {
                max-width: 18px;
                max-height: 18px;
                margin-right: 13px;
            }
        }
        &-text {
            color: var(--accent);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
    }
    &__main {
        padding-top: 100px;
        position: relative;
        min-width: 1000px;
    }
    &__title {
        position: relative;
        font-size: 64px;
        font-weight: 550;
        @include rhombus;
        &:before {
            width: 21px;
            height: 21px;
            top: 5px;
            left: 27px;
        }
    }
    &__descr {
        margin-top: 40px;
        width: 600px;
    }
    &__btn {
        margin-top: 40px;
    }
    &__visitors {
        margin-top: 40px;
        margin-left: 15px;
        display: grid;
        grid-template-columns: 140px auto;
        &-img {
            grid-row: 1 / 3;
            display: flex;
            align-items: center;
            width: 140px;
            img {
                max-width: 50px;
                max-height: 50px;
                margin-left: -15px;
            }
        }
        &-count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            margin-left: -10px;
            border: 1px solid var(--accent);
            border-radius: 4px;
            transform: rotate(45deg) ;
            background-color: var(--light);
            div {
                transform: rotate(-45deg);
                color: var(--accent);
            }
        }
        &-title {
            font-size: 18px;
            font-weight: 350;
        }
        &-rating {
            font-size: 12px;
            line-height: 16px;
            font-weight: 300;
            color: var(--dark-green);
            span {
                font-weight: 400;
                color: var(--black);
                margin-left: 4px;
            }
        }
    }
    &__images-back {
        position: absolute;
        // top: 190px;
        top: 272px;
        // right: 100px;
        left: 271px;
    }
    &__images-big {
        position: absolute;
        left: 685px;
        bottom: 79px;
    }
    &__images-small {
        position: absolute;
        bottom: 6px;
        left: 594px;
    }
}