@use '../base/mixins' as *;

.programs {
    min-height: 856px;
    padding: 120px 0;
    .font_h2 {
        text-align: center;
    }
    .font_big {
        text-align: center;
        margin-top: 18px;
    }
    &__carousel {
        width: 100%;
    }
    &__items {
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(4, minmax(280px, 380px));
        // grid-template-columns: repeat(auto-fit, minmax(280px, 380px));
        gap: 0;
        // display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
    }
    &__item {
        padding: 16px;
        max-width: 305px;
        // min-width: 280px;
        min-height: 456px;
        text-align: center;
        background-color: var(--light);
        border-radius: 20px;
    }
    &__title {
        font-size: 24px;
        color: var(--accent);
        font-weight: 700;
    }
    &__descr {
        position: relative;
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #555D65;
        @include rhombus;
        &:before {
            bottom: -20px;
        }
    }
    &__photo {
        width: 71.5%;
        // max-width: 195px;
        margin: 40px auto 0 auto;
        img {
            width: 100%;
        }
    }
}