.trainers {
    margin-top: -8px;
    min-height: 856px;
    padding: 60px 0 126px 0;

    background-color: var(--light);


    &__rhombus {
        position: absolute;
        width: 427px;
        height: 581px;
        background-image: linear-gradient(to bottom, rgb(31, 108, 148), 20%, rgba(217, 217, 217, 0));
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    &__carousel {
        display: flex;

        &-imgback {
            position: absolute;
            width: 599px;
            height: 368px;
            top: 0;
            left: -120px;
            transition: 1s all;
        }

        &-imgcentral {
            position: absolute;
            top: 30px;
        }

        &-imgtop {
            position: absolute;
            background-image: none;
            left: 95px;
            top: 75px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                // opacity: 0;
                // visibility: hidden;
                transition: opacity 1s ease;
            }
        }

        &-img {
            position: relative;
            flex: 0 0 50%;
        }


        &-descr {
            flex: 0 0 50%;
            padding-top: 60px;
        }

        &-text {
            margin-top: 40px;
            min-height: 288px;
            color: #555D65;
            font-size: 24px;
            font-weight: 400;
            line-height: 150%;
        }

        &-panel {
            margin-top: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-name {
            font-size: 36px;
            font-weight: 550;
            line-height: 48px;
            color: var(--accent);
        }

        &-rank {
            margin-top: 16px;
            font-size: 24px;
            font-weight: 550;
            line-height: 48px;
        }
    }

    &__arrows {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        &-left {
            position: relative;
            width: 50px;
            height: 50px;
            border: 1px solid var(--accent);
            border-radius: 100%;
            cursor: pointer;

            span:first-child {
                position: absolute;
                display: inline-block;
                width: 22px;
                height: 2px;
                background-color: var(--accent);
                transform: rotate(-40deg);
                top: 16px;
                right: 15px;
            }

            span:last-child {
                position: absolute;
                display: inline-block;
                width: 22px;
                height: 2px;
                background-color: var(--accent);
                transform: rotate(40deg);
                bottom: 16px;
                right: 15px;
            }
        }

        &-right {
            position: relative;
            width: 50px;
            height: 50px;
            border: 1px solid var(--accent);
            border-radius: 100%;
            cursor: pointer;

            span:first-child {
                position: absolute;
                display: inline-block;
                width: 22px;
                height: 2px;
                background-color: var(--accent);
                transform: rotate(40deg);
                top: 16px;
                left: 15px;
            }

            span:last-child {
                position: absolute;
                display: inline-block;
                width: 22px;
                height: 2px;
                background-color: var(--accent);
                transform: rotate(-40deg);
                bottom: 16px;
                left: 15px;
            }
        }

        &-active {
            background: linear-gradient(0.00deg, rgb(31, 108, 148) 0%, rgba(196, 196, 196, 0.65) 116.667%);

            span:first-child,
            span:last-child {
                background-color: var(--light);
            }
        }
    }
}

.hidden {
    opacity: 0;
}

.no-display {
    display: none;
}

.animat {
    animation: button_down .5s ease;
}

.trainers__carousel-imgtop .item-active {
    opacity: 1;
    visibility: visible;
}